@import '../../variable.css';

.header {
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: var(--primary-color);
    color: #fff;
    width: 100%;
}

.logo{
    width: 30%;
}
.logo a {
    color: #fff;
    text-decoration: none;
    font-size: 24px;
}


.header-items {
    display: flex;
    align-items: center;
    width: 55%;
    justify-content: space-around;
}
.Search{
    display: flex;

}
.search-bar {
    margin-right: 20px;
}
search-input{

}
.search-bar input {
    padding: 5px;
    font-size: 16px;
}

.search-bar button {
    padding: 5px 10px;
    background-color: #555;
    border: none;
    color: #fff;
    cursor: pointer;
}

.search-bar button:hover {
    background-color: #777;
}

.filter select {
    padding: 5px;
    font-size: 16px;
    margin-right: 20px;
}

.contact-info a {
    color: #fff;
    text-decoration: none;
    margin-right: 10px;
}

.contact-info span {
    margin: 0 10px;
}

.contact-info a:hover {
    text-decoration: underline;
}
