.filterList{
    z-index: 100;
    position: absolute;
    top: 0;
    left: 0;
    width: fit-content;
    height: fit-content;
    display: flex;
    flex-direction: column;
    align-items: center;
    top: 100%; 
    display: flex;
    flex-direction: row;
    padding: 0;
}
.popup{
    display: flex;
    width: fit-content;
    height: fit-content;
}

.popup-content{
    
    padding: 0px 5px;
    height: fit-content;
    border-radius: 5px;
    margin-right: 10px;
}
.key0{
    background-color: rgba(5, 23, 184, 0.363);
}
.key1{
    background-color: rgba(0, 0, 0, 0.397);
}