
  .object {
    padding: 20px;
    background-color: lightblue;
    border-radius: 5px;
    cursor: pointer;
  }
  
  .box {
    position: fixed;
    bottom: 10px;
    right: 100px;
    width: 300px;
    height: 300px;
    border: 2px solid red;
    border-radius: 5px;
    pointer-events: none;
    transition: opacity 0.3s ease-in-out;
  }