.logo{
    width: 50%;
    display: flex;
    align-items: center;
    min-width: 200px;
}
.logo_container{
    position: relative;
    width: 45%;
    height: 0;
    padding-bottom: 45%;
    display: inline;
}

.logoNu{
    position: relative;
    width: 16%;
    padding-bottom: 42%;
    background-color: black;
    border-radius: 3%;
}
.logo_name_1{color:rgb(114, 3, 114);}
.logo_name_2{color:rgb(230 16 30);}
.logo_name_3{color:rgb(83 84 99);}

.center{
    top: 35%;
    left: 35%;
    background-color: rgb(224 45 102);
    width:30%;
    height: 30%;
    position:absolute;
}
.center:after{
    content: "";
    position: absolute;
    clip-path: polygon(0 0, 100% 0, 0 100%);
    width: 100%;
    height: 100%;
    background: rgb(230 16 30);
    top: 0;
    left: 0;
 
}

.up{
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: rgb(83 84 99);
    top: -100%;
}
.up:after{
    content: "";
    position: absolute;
    clip-path: polygon(0 0, 100% 0, 0 100%);
    width: 100%;
    height: 100%;
    background: rgb(0 125 112);
    top: 0;
    left: 0;
 
}

.down{
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: rgb(114, 3, 114);
    top: 100%;
}
.down:after{
    content: "";
    position: absolute;
    clip-path: polygon(0 0, 100% 0, 0 100%);
    width: 100%;
    height: 100%;
    background: rgb(173, 2, 173);
    top: 0;
    left: 0;
 
}


.right{
    position: absolute;
    top: 0;
    left: 100%;
    background-color: rgb(133 38 92);
    width: 100%;
    height: 100%;
}
.right:after{
    content: "";
    position: absolute;
    clip-path: polygon(0 0, 100% 0, 0 100%);
    width: 100%;
    height: 100%;
    background: rgb(163 21 83);
    top: 0;
    left: 0;
 
}
.left{
    position: absolute;
    left: -100%;
    background-color: rgb(240 44 0);
    width: 100%;
    height: 100%;
}
.left:after{
    content: "";
    position: absolute;
    clip-path: polygon(0 0, 100% 0, 0 100%);
    width: 100%;
    height: 100%;
    background: rgb(250 100 0);
    top: 0;
    left: 0;
 
}
.up_left{
    position: absolute;
    left:-100%;
    top:-100%;
    background-color:rgb(168 181 128 / 60%);
    width: 100%;
    height: 100%;
    clip-path: polygon(100% 100%, 100% 0, 0 100%);
    
}
.up_right{
    position: absolute;
    left:100%;
    top:-100%;
    background-color: rgb(17 225 200 / 60%);
    width: 100%;
    height: 100%;
    clip-path: polygon(0 0, 100% 0, 0 100%);
    
}
.down_left{
    position: absolute;
    left:-100%;
    top:100%;
    background-color: rgb(235 43 36 / 60%);
    width: 100%;
    height: 100%;
    clip-path: polygon(100% 100%, 100% 0, 0 100%);
}
.down_right{
    position: absolute;
    left:100%;
    top:100%;
    background-color: rgb(219 73 219 / 60%);
    width: 100%;
    height: 100%;
    clip-path: polygon(0 0, 100% 0, 0 100%);
    
}
