.App {
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100vh;
  font-family: -apple-system BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
  -webkit-font-smoothing: antialiased;
  padding-top: 10px;
  margin: 0;
    font-family: Arial, sans-serif;
    padding: 20px;
}
head,main,footer{
  width: 90%;
}






